.articles-container1 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #27272D;
}
.articles-header1 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.articles-navbar {
  width: 100%;
  display: flex;
  position: relative;
  max-width: 1440px;
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.articles-logo1 {
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  animation-name: bounceIn;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.articles-desktop-menu {
  display: flex;
}
.articles-nav1 {
  gap: var(--dl-space-space-twounits);
  flex: 0 0 auto;
  color: #ffffff;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.articles-btn-group {
  gap: var(--dl-space-space-fourunits);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.articles-socials {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.articles-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.articles-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.articles-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: fixed;
  transform: translateX(100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.articles-nav2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.articles-container2 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.articles-logo2 {
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
}
.articles-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.articles-icon12 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.articles-nav3 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.articles-text10 {
  margin-bottom: var(--dl-space-space-unit);
}
.articles-text11 {
  margin-bottom: var(--dl-space-space-unit);
}
.articles-text12 {
  margin-bottom: var(--dl-space-space-unit);
}
.articles-text13 {
  margin-bottom: var(--dl-space-space-unit);
}
.articles-text14 {
  margin-bottom: var(--dl-space-space-unit);
}
.articles-container3 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
}
.articles-login {
  margin-right: var(--dl-space-space-twounits);
}
.articles-icon-group {
  display: flex;
}
.articles-icon14 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.articles-icon16 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.articles-icon18 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.articles-navlink1 {
  color: rgb(255, 255, 255);
  animation-name: bounceIn;
  animation-delay: 0s;
  text-decoration: none;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.articles-navlink2 {
  color: rgb(255, 255, 255);
  animation-name: bounceIn;
  animation-delay: 0s;
  text-decoration: none;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.articles-navlink3 {
  color: rgb(255, 255, 255);
  animation-name: bounceIn;
  animation-delay: 0s;
  text-decoration: none;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.articles-hero {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  max-width: 1440px;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
}
.articles-heading {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.articles-header2 {
  color: rgb(255, 255, 255);
  font-size: 90px;
  max-width: 900px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  line-height: 108px;
}
.articles-caption {
  color: rgb(255, 255, 255);
  font-size: 24px;
  max-width: 800px;
  text-align: center;
  line-height: 36px;
}
.articles-buttons {
  gap: var(--dl-space-space-threeunits);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.articles-text15 {
  color: #f53939;
  display: inline-block;
}
.articles-text16 {
  color: #03c8f3;
  display: inline-block;
}
.articles-text17 {
  color: #00b109;
  display: inline-block;
}
.articles-text18 {
  color: #f9f9f9;
  display: inline-block;
  font-size: 20px;
}
.articles-text19 {
  color: rgb(245, 243, 243);
  display: inline-block;
}
.articles-container5 {
  display: contents;
}
.articles-text20 {
  color: rgb(255, 254, 254);
  display: inline-block;
}
.articles-text21 {
  color: #f7f7f7;
  display: inline-block;
}
.articles-text22 {
  color: #f5f1f1;
  display: inline-block;
}
.articles-text23 {
  color: #ffffff;
  display: inline-block;
}
.articles-text24 {
  color: #f1f1f1;
  display: inline-block;
}
.articles-text25 {
  color: #f3f2f2;
  display: inline-block;
}
.articles-text26 {
  color: #ffffff;
  display: inline-block;
}
@media(max-width: 991px) {
  .articles-desktop-menu {
    display: none;
  }
  .articles-btn-group {
    display: none;
  }
  .articles-burger-menu {
    display: flex;
  }
  .articles-button {
    display: flex;
    padding: var(--dl-space-space-unit);
    flex-direction: row;
  }
  .articles-logo2 {
    color: #000000;
  }
}
@media(max-width: 767px) {
  .articles-navbar {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .articles-hero {
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .articles-heading {
    gap: var(--dl-space-space-unit);
  }
  .articles-header2 {
    font-size: 36px;
    max-width: 70%;
    line-height: 43px;
  }
  .articles-caption {
    font-size: 16px;
    line-height: 24px;
  }
}
@media(max-width: 479px) {
  .articles-navbar {
    padding: var(--dl-space-space-unit);
  }
  .articles-mobile-menu {
    padding: 16px;
  }
}
