.infographics-container1 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #27272D;
}
.infographics-header1 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.infographics-navbar {
  width: 100%;
  display: flex;
  position: relative;
  max-width: 1440px;
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.infographics-logo1 {
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  animation-name: bounceIn;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.infographics-desktop-menu {
  display: flex;
}
.infographics-nav1 {
  gap: var(--dl-space-space-twounits);
  flex: 0 0 auto;
  color: #ffffff;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.infographics-btn-group {
  gap: var(--dl-space-space-fourunits);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.infographics-socials {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.infographics-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.infographics-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.infographics-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: fixed;
  transform: translateX(100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.infographics-nav2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.infographics-container2 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.infographics-logo2 {
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
}
.infographics-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.infographics-icon12 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.infographics-nav3 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.infographics-text10 {
  margin-bottom: var(--dl-space-space-unit);
}
.infographics-text11 {
  margin-bottom: var(--dl-space-space-unit);
}
.infographics-text12 {
  margin-bottom: var(--dl-space-space-unit);
}
.infographics-text13 {
  margin-bottom: var(--dl-space-space-unit);
}
.infographics-text14 {
  margin-bottom: var(--dl-space-space-unit);
}
.infographics-container3 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
}
.infographics-login {
  margin-right: var(--dl-space-space-twounits);
}
.infographics-icon-group {
  display: flex;
}
.infographics-icon14 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.infographics-icon16 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.infographics-icon18 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.infographics-navlink1 {
  color: rgb(255, 255, 255);
  animation-name: bounceIn;
  animation-delay: 0s;
  text-decoration: none;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.infographics-navlink2 {
  color: rgb(255, 255, 255);
  animation-name: bounceIn;
  animation-delay: 0s;
  text-decoration: none;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.infographics-navlink3 {
  color: rgb(255, 255, 255);
  animation-name: bounceIn;
  animation-delay: 0s;
  text-decoration: none;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.infographics-hero {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  max-width: 1440px;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
}
.infographics-heading {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.infographics-header2 {
  color: rgb(255, 255, 255);
  font-size: 90px;
  max-width: 900px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  line-height: 108px;
}
.infographics-caption {
  color: rgb(255, 255, 255);
  font-size: 24px;
  max-width: 800px;
  text-align: center;
  line-height: 36px;
}
.infographics-buttons {
  gap: var(--dl-space-space-threeunits);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.infographics-text15 {
  color: #fffefe;
  display: inline-block;
}
.infographics-text16 {
  display: inline-block;
  font-weight: 700;
}
.infographics-text17 {
  color: var(--dl-color-gray-black);
  display: inline-block;
  font-weight: 700;
  background-color: rgb(217, 217, 217);
}
.infographics-text18 {
  color: var(--dl-color-gray-black);
  display: inline-block;
  font-weight: 700;
  background-color: rgb(217, 217, 217);
}
.infographics-text19 {
  display: inline-block;
  font-weight: 700;
  background-color: rgb(217, 217, 217);
}
.infographics-text20 {
  color: #ef0707;
  display: inline-block;
}
.infographics-text21 {
  color: #00f553;
  display: inline-block;
}
.infographics-text22 {
  color: #003af9;
  display: inline-block;
}
.infographics-text23 {
  display: inline-block;
}
.infographics-text24 {
  display: inline-block;
  background-color: rgb(217, 217, 217);
}
.infographics-text25 {
  display: inline-block;
  background-color: rgb(217, 217, 217);
}
.infographics-text26 {
  color: #f9f3f3;
  display: inline-block;
}
.infographics-text27 {
  display: inline-block;
}
.infographics-text28 {
  color: #f5f5f5;
  display: inline-block;
}
.infographics-text29 {
  color: #fdfdfd;
  display: inline-block;
}
.infographics-text30 {
  color: #fbf9f9;
  display: inline-block;
}
.infographics-text31 {
  display: inline-block;
}
.infographics-text32 {
  color: #f9f3f3;
  display: inline-block;
}
.infographics-text33 {
  color: #fdfcfc;
  display: inline-block;
}
.infographics-text34 {
  color: #fbf8f8;
  display: inline-block;
}
.infographics-text35 {
  color: #fbfbfb;
  display: inline-block;
}
.infographics-text36 {
  display: inline-block;
}
.infographics-text37 {
  display: inline-block;
}
.infographics-text38 {
  color: #fffdfd;
  display: inline-block;
}
.infographics-container5 {
  display: contents;
}
.infographics-text39 {
  color: #f7f7f7;
  display: inline-block;
}
.infographics-text40 {
  color: #f5f1f1;
  display: inline-block;
}
.infographics-text41 {
  color: #ffffff;
  display: inline-block;
}
.infographics-text42 {
  color: #f1f1f1;
  display: inline-block;
}
.infographics-text43 {
  color: #f3f2f2;
  display: inline-block;
}
.infographics-text44 {
  color: #ffffff;
  display: inline-block;
}
@media(max-width: 991px) {
  .infographics-desktop-menu {
    display: none;
  }
  .infographics-btn-group {
    display: none;
  }
  .infographics-burger-menu {
    display: flex;
  }
  .infographics-button {
    display: flex;
    padding: var(--dl-space-space-unit);
    flex-direction: row;
  }
  .infographics-logo2 {
    color: #000000;
  }
}
@media(max-width: 767px) {
  .infographics-navbar {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .infographics-hero {
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .infographics-heading {
    gap: var(--dl-space-space-unit);
  }
  .infographics-header2 {
    font-size: 36px;
    max-width: 70%;
    line-height: 43px;
  }
  .infographics-caption {
    font-size: 16px;
    line-height: 24px;
  }
}
@media(max-width: 479px) {
  .infographics-navbar {
    padding: var(--dl-space-space-unit);
  }
  .infographics-mobile-menu {
    padding: 16px;
  }
}
