.infographicsdetails-container10 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #27272D;
}
.infographicsdetails-header1 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.infographicsdetails-navbar {
  width: 100%;
  display: flex;
  position: relative;
  max-width: 1440px;
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.infographicsdetails-logo1 {
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  animation-name: bounceIn;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.infographicsdetails-desktop-menu {
  display: flex;
}
.infographicsdetails-nav1 {
  gap: var(--dl-space-space-twounits);
  flex: 0 0 auto;
  color: #ffffff;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.infographicsdetails-btn-group {
  gap: var(--dl-space-space-fourunits);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.infographicsdetails-socials {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.infographicsdetails-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.infographicsdetails-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.infographicsdetails-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: fixed;
  transform: translateX(100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.infographicsdetails-nav2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.infographicsdetails-container11 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.infographicsdetails-logo2 {
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
}
.infographicsdetails-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.infographicsdetails-icon12 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.infographicsdetails-nav3 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.infographicsdetails-text10 {
  margin-bottom: var(--dl-space-space-unit);
}
.infographicsdetails-text11 {
  margin-bottom: var(--dl-space-space-unit);
}
.infographicsdetails-text12 {
  margin-bottom: var(--dl-space-space-unit);
}
.infographicsdetails-text13 {
  margin-bottom: var(--dl-space-space-unit);
}
.infographicsdetails-text14 {
  margin-bottom: var(--dl-space-space-unit);
}
.infographicsdetails-container12 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
}
.infographicsdetails-login {
  margin-right: var(--dl-space-space-twounits);
}
.infographicsdetails-icon-group {
  display: flex;
}
.infographicsdetails-icon14 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.infographicsdetails-icon16 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.infographicsdetails-icon18 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.infographicsdetails-navlink1 {
  color: rgb(255, 255, 255);
  animation-name: bounceIn;
  animation-delay: 0s;
  text-decoration: none;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.infographicsdetails-navlink2 {
  color: rgb(255, 255, 255);
  animation-name: bounceIn;
  animation-delay: 0s;
  text-decoration: none;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.infographicsdetails-navlink3 {
  color: rgb(255, 255, 255);
  animation-name: bounceIn;
  animation-delay: 0s;
  text-decoration: none;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.infographicsdetails-hero {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  max-width: 1440px;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
}
.infographicsdetails-heading {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.infographicsdetails-header2 {
  color: rgb(255, 255, 255);
  font-size: 90px;
  max-width: 900px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  line-height: 108px;
}
.infographicsdetails-caption {
  color: rgb(255, 255, 255);
  font-size: 24px;
  max-width: 800px;
  text-align: center;
  line-height: 36px;
}
.infographicsdetails-buttons {
  gap: var(--dl-space-space-threeunits);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.infographicsdetails-image {
  width: 1033px;
  height: 559px;
  object-fit: cover;
}
.infographicsdetails-container13 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.infographicsdetails-container14 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.infographicsdetails-text15 {
  color: #ffffff;
  font-size: 20px;
}
.infographicsdetails-container15 {
  flex: 0 0 auto;
  width: 200px;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.infographicsdetails-text16 {
  color: rgb(253, 253, 253);
  font-size: 20px;
}
.infographicsdetails-container16 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}
.infographicsdetails-container17 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}
.infographicsdetails-text17 {
  color: rgb(243, 240, 240);
}
.infographicsdetails-text18 {
  color: rgb(255, 255, 255);
  margin-top: var(--dl-space-space-threeunits);
  margin-bottom: var(--dl-space-space-threeunits);
}
.infographicsdetails-container19 {
  display: contents;
}
.infographicsdetails-text19 {
  color: #f7f7f7;
  display: inline-block;
}
.infographicsdetails-text20 {
  color: #f5f1f1;
  display: inline-block;
}
.infographicsdetails-text21 {
  color: #ffffff;
  display: inline-block;
}
.infographicsdetails-text22 {
  color: #f1f1f1;
  display: inline-block;
}
.infographicsdetails-text23 {
  color: #f3f2f2;
  display: inline-block;
}
.infographicsdetails-text24 {
  color: #ffffff;
  display: inline-block;
}
@media(max-width: 991px) {
  .infographicsdetails-desktop-menu {
    display: none;
  }
  .infographicsdetails-btn-group {
    display: none;
  }
  .infographicsdetails-burger-menu {
    display: flex;
  }
  .infographicsdetails-button {
    display: flex;
    padding: var(--dl-space-space-unit);
    flex-direction: row;
  }
  .infographicsdetails-logo2 {
    color: #000000;
  }
}
@media(max-width: 767px) {
  .infographicsdetails-navbar {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .infographicsdetails-hero {
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .infographicsdetails-heading {
    gap: var(--dl-space-space-unit);
  }
  .infographicsdetails-header2 {
    font-size: 36px;
    max-width: 70%;
    line-height: 43px;
  }
  .infographicsdetails-caption {
    font-size: 16px;
    line-height: 24px;
  }
}
@media(max-width: 479px) {
  .infographicsdetails-navbar {
    padding: var(--dl-space-space-unit);
  }
  .infographicsdetails-mobile-menu {
    padding: 16px;
  }
}
