.hero1-max-width {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.hero1-column {
  gap: 24px;
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.hero1-content {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.hero1-container2 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: #D9D9D9;
}
.hero1-text11 {
  background-color: #D9D9D9;
}
.hero1-container3 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: #D9D9D9;
}
.hero1-container4 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: #D9D9D9;
}
.hero1-container5 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: #D9D9D9;
}
.hero1-actions {
  gap: var(--dl-space-space-unit);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
}
.hero1-container6 {
  flex: 1;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: 35%;
  justify-content: flex-start;
}
.hero1-image1 {
  left: 0px;
  width: 100%;
  bottom: 0px;
  height: 100%;
  position: absolute;
  flex-grow: 1;
  object-fit: cover;
}
.hero1-text20 {
  color: #1e1e1e;
  display: inline-block;
}
.hero1-text21 {
  color: var(--dl-color-gray-black);
  display: inline-block;
  font-weight: 700;
}
.hero1-text22 {
  color: var(--dl-color-gray-black);
  display: inline-block;
  font-weight: 700;
  background-color: rgb(217, 217, 217);
}
.hero1-text23 {
  color: var(--dl-color-gray-black);
  display: inline-block;
  font-weight: 700;
  background-color: rgb(217, 217, 217);
}
.hero1-text24 {
  display: inline-block;
  font-weight: 700;
  background-color: rgb(217, 217, 217);
}
.hero1-text25 {
  color: #ef0707;
  display: inline-block;
}
.hero1-text26 {
  color: #00f553;
  display: inline-block;
}
.hero1-text27 {
  color: #003af9;
  display: inline-block;
}
.hero1-text28 {
  display: inline-block;
}
.hero1-text29 {
  display: inline-block;
  background-color: rgb(217, 217, 217);
}
.hero1-text30 {
  display: inline-block;
  background-color: rgb(217, 217, 217);
}
.hero1-label {
  display: inline-block;
  font-weight: 700;
  background-color: rgb(217, 217, 217);
  color: #ffffff;
}
.hero1-label1 {
  color: #ef0707;
}
.hero1-label2 {
  color: #00f553;
}
.hero1-label3 {
  color: #003af9;
}
@media(max-width: 991px) {
  .hero1-container1 {
    flex-direction: column;
  }
  .hero1-container6 {
    width: 100%;
    padding-top: 56.25%;
  }
}
@media(max-width: 767px) {
  .hero1-heading1 {
    text-align: center;
  }
  .hero1-actions {
    width: 100%;
    justify-content: center;
  }
  .hero1-image1 {
    width: 100%;
  }
}
@media(max-width: 479px) {
  .hero1-actions {
    flex-direction: column;
  }
}
